<div class="show1">
	<% if flash[:notice] %>
		<p><%= flash[:notice] %></p>
	<% end %>
	<p class="show_title">
		<strong>Title: </strong><%= @book.title %>
	</p>
	<p class="show_body">
		<strong>Body: </strong><%= @book.body %>
	</p>
</div>
<div class="show2">
	<%= link_to "Edit", edit_book_path(@book.id) %>
	<a>|</a>
	<%= link_to "Back", books_path(@book.id) %>
</div>

